.coverage
tlapy/_version.py
__tlacache__/
.DS_Store
._.DS_Store
*.out
*parsetab.py
__pycache__/
*.pyc
*.whl
*.pdf
*.png
*.svg
*.txt
*.p
*.c
*.so
*.html
*.tar.gz
dist/*
build/*
*.egg-info
*.swp
*.tags
*.xml
*.aux
*.log
*.pickle
